:host {
    .title {
        font-weight: bold;
    }
    
    .description{
        margin: 10px 0px;
        font-weight: bold;
    }

    .description span{
        font-weight: normal;
    }

    button{
        margin: 20px 0px;
        background-color: lightblue;
    }
}